<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
  <main>
    
    <h2><%= content %></h2>
  
    <section>
     <img class="gal-img" src="https://i.imgur.com/6mCsq4v.jpg" alt="Statue selfie">

     <img class="gal-img" src="https://i.imgur.com/chpR1Zp.jpg" alt="National treasure">

     <img class="gal-img" src="https://i.imgur.com/PpBy23l.jpg" alt="Heeeeerrrresss Cloister!">
    </section>
    
  </main>
  

  <%- include('partials/footer') %>
</body>
</html>


